<button mat-icon-button style="float: right; margin: 5px" matDialogClose="">
  <mat-icon>close</mat-icon>
</button>
<div class="model-content">
  <div class="model-header">
    <h5 class="model-title">Add Time</h5>
  </div>
  <div class="model-body">
    <form action="">
      <div class="hours-info">
        <div class="row houts-cont">
          <div class="col-12 col-md-10">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label for="" class="mb-2">Start Time</label>
                  <select name="" class="form-control form-select" id="">
                    <option value="">10:00am</option>
                    <option value="">11:00am</option>
                    <option value="">12:00am</option>
                    <option value="">01:00am</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="mb-3">
                  <label for="" class="mb-2">End Time</label>
                  <select name="" class="form-control form-select" id="">
                    <option value="">11:00am</option>
                    <option value="">12:00am</option>
                    <option value="">09:00am</option>
                    <option value="">03:00am</option>
                  </select>
                </div>
              </div>
              <div class="submit-section text-center">
                <button type="submit" class="btn btn-primary submit-btn">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
