<div class="row">
  <div class="col-md-12">
    <div class="card dash-card">
      <div class="card-body">
        <div class="row">
          <div
            class="col-md-12 col-lg-4 d-flex justify-content-space-evenly align-items-center"
          >
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar1">
                <div class="circle-graph1" data-precent="75">
                  <img
                    src="../../../../../assets/image/icon-01.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="dash-widget-info">
              <h6>Total Patient</h6>
              <h3>1500</h3>
              <p class="muted">Till Today</p>
            </div>
          </div>
          <div
            class="col-md-12 col-lg-4 d-flex justify-content-space-evenly align-items-center"
          >
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar2">
                <div class="circle-graph2" data-precent="65">
                  <img
                    src="../../../../../assets/image/icon-02.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="dash-widget-info">
              <h6>Today Patient</h6>
              <h3>160</h3>
              <p class="muted">06,Nov 2023</p>
            </div>
          </div>
          <div
            class="col-md-12 col-lg-4 d-flex justify-content-space-evenly align-items-center"
          >
            <div class="dash-widget dct-border-rht">
              <div class="circle-bar circle-bar3">
                <div class="circle-graph3" data-precent="50">
                  <img
                    src="../../../../../assets/image/icon-03.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
            <div class="dash-widget-info">
              <h6>Appointment</h6>
              <h3>85</h3>
              <p class="muted">06, Apr 2023</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4 class="mb-4 title-appointment">Patient Appointment</h4>
    <div class="appointement-tab">
      <div class="tab-content">
        <div class="tab-pane d-block">
          <div class="card card-table mb-0">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-borderless align-middle">
                  <thead class="">
                    <tr>
                      <th>Patient Name</th>
                      <th>App Date</th>
                      <th>Purpose</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">
                    <tr class="">
                      <td>
                        <h2 class="table-avatar">
                          <a href="" class="avatar">
                            <img
                              src="../../../../../assets/image/Doctors/doctor-01.jpg"
                              alt=""
                              class="avatar-img round-circle"
                            />
                          </a>
                          <a class="name-patient">
                            Richard Wilson
                            <span>#PT0016</span>
                          </a>
                        </h2>
                      </td>
                      <td>
                        11 Nov 2023
                        <span class="d-block text-info">10.AM</span>
                      </td>
                      <td>General</td>
                      <td>New Patient</td>
                      <td>
                        <div class="action-control">
                          <button class="btn btn-success">
                            <i class="far fa-eye"></i>
                            <span class="hied-screen">View</span>
                          </button>
                          <button class="btn btn-primary">
                            <i class="fas fa-check"></i>
                            <span class="hied-screen">Accept</span>
                          </button>
                          <button class="btn btn-danger">
                            <i class="fas fa-times"></i>
                            <span class="hide-screen"> Cancel </span>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot></tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
