<div class="content">
  <div class="contianer">
    <div class="row">
      <div class="col-md-5 col-lg-4 col-xl-3 sticky">
        <div class="stickyside">
          <div class="profile-sidebar">
            <div class="widget-profile pro-widget-content">
              <div class="profile-info-widget">
                <a href="" class="booking-doc-info">
                  <img
                    src="../../../../../assets/image/Doctors/doctor-02.jpg"
                    alt=""
                  />
                </a>
              </div>
              <div class="peofile-det-info">
                <h3>Richard Wilson</h3>
                <div class="patient-details">
                  <h5>
                    <i class="fas fa-birthday-cake"></i>
                    24 Jul 1983, 38 years
                  </h5>
                  <h5 class="mb-0">
                    <i class="fas fa-map-marker-alt"></i>
                    Newyork, USA
                  </h5>
                </div>
              </div>
            </div>
            <div class="dashboard-widget">
              <nav class="dashboard-menu">
                <ul>
                  <li>
                    <a href="">
                      <i class="fas fa-columns"></i>
                      <span> Dashboard</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-calendar-check"></i>
                      <span>Appointments</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-user-injured"></i>
                      <span>My Patients</span>
                    </a>
                  </li>

                  <li>
                    <a href="">
                      <i class="fas fa-hourglass-start"></i>
                      <span>Schedule Timings</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-clock"></i>
                      <span>Available Timings</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-star"></i>
                      <span>Reviews</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-share-alt"></i>
                      <span>Social Media</span>
                    </a>
                  </li>

                  <li>
                    <a href="">
                      <i class="fas fa-user-cog"></i>
                      <span>Profile Settings</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-lock"></i>
                      <span>Change Password</span>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-sign-out-alt"></i>
                      <span>Logout</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-lg-8 col-xl-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
