.doc-review .review-list {
  margin: 0;
}
.card {
  border: 1px solid #f0f0f0;
}
.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}
.review-list {
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 30px;
}
.review-list > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.review-list .doc-review ul > li {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 20px;
}
.review-list > ul li .comment {
  margin-bottom: 30px;
}
.avatar {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
.rounded-circle {
  border-radius: 50%;
}
.comment {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.review-list > ul li .comment .comment-body {
  margin-left: 16px;
}
.review-list > ul li .comment .comment-body .meta-data {
  position: relative;
  margin-bottom: 10px;
}
.review-list > ul li .comment .comment-body .meta-data .comment-auther {
  font-weight: 500;
  color: #272b41;
  text-transform: capitalize;
  display: block;
  font-size: 16px;
}

.review-list > ul li .comment .comment-body .meta-data .review-count {
  width: auto;
  position: absolute;
  top: 3px;
  right: 0;
}
.rating .filled {
  color: #f4c150;
}
.recommanded {
  color: #28a745;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
}
.review-list > ul li .comment .comment-body .comment-content {
  color: #757575;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}
