<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="card-title">Dependent</h3>
      </div>
      <div class="col-sm-6 mobile-profile-btn-top">
        <div class="text-end">
          <a
            class="btn btn-primary btn-sm profile-button"
            (click)="openDialg_Add()"
            >Add Dependent</a
          >
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="card card-table mb-0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover align-middle">
              <thead class="">
                <tr>
                  <th>Dependent</th>
                  <th>Relationship</th>
                  <th>Gender</th>
                  <th>Number</th>
                  <th>Blood Group</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <ng-container *ngFor="let item of dependent">
                  <tr class="">
                    <td>
                      <h2>
                        <span class="avatar">
                          <img [src]="item.img" alt="" />
                        </span>
                        {{ item.name }}
                      </h2>
                    </td>
                    <td>{{ item.relation }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.blood }}</td>
                    <td>
                      <div class="action">
                        <button class="btn btn-success" (click)="openDialg()">
                          <i class="fas fa-edit"></i>
                          <span class="btn-title"> Edit</span>
                        </button>
                        <button class="btn btn-danger">
                          <i class="fas fa-times"></i>
                          <span class="btn-title"> Deactive</span>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
