<div class="breadcrumb-bar-two">
  <div class="container">
    <div class="row align-items-center inner-banner">
      <div class="col-md-12 col-12 text-center">
        <h2 class="breadcrumb-title">Medicine Details</h2>
        <span><a href="">Home</a></span>
        <span>/</span>
        <span><a href="">Medicine</a></span>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-lg-9 col-xl-9">
        <div class="card">
          <div class="card-body product-details">
            <div class="doctor-widget">
              <div class="doc-info-left">
                <div class="doctor-img">
                  <img
                    src="../../../../../assets/image/medicine/product.jpg"
                    alt=""
                  />
                </div>
                <div class="doc-info-cont product-cont">
                  <h4 class="doc-name mb-2">Benzaxzpine</h4>
                  <p>
                    <span class="text-muted">Manfacturned By</span>
                    Hamdard (Wakf) Laboratories
                  </p>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled
                  </p>
                  <div class="feature-product pt-4">
                    <span>Applied for:</span>
                    <ul>
                      <li>Moisturization & Nourishment</li>
                      <li>Blackhead Removal</li>
                      <li>Anti-acne & Pimples</li>
                      <li>Whitening & Fairness</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body pt-0">
            <h3 class="pt-4">Product Details</h3>
            <hr />
            <div class="tab-content pt-3">
              <div class="tab-pane">
                <div class="row">
                  <div class="col-md-9">
                    <div class="widget about-widget">
                      <h4 class="widget-title">Description</h4>
                      <p>
                        Safi syrup is best for purifying the blood. As it
                        contains herbal extracts it can cure indigestion,
                        constipation, nose bleeds and acne boils. It helps in
                        the removal of the toxins from the blood. It improves
                        the complexion and gives you a healthy life
                      </p>
                    </div>
                    <div class="widget awards-widget">
                      <h4 class="widget-title">Highloghts</h4>
                      <div class="experience-box">
                        <ul class="experience-list">
                          <li>
                            <div class="experience-user">
                              <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                              <div class="timeline-content">
                                <p>
                                  Safi syrup is known for its best purifying
                                  syrup for blood.
                                </p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="experience-user">
                              <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                              <div class="timeline-content">
                                <p>
                                  Safi syrup is known for its best purifying
                                  syrup for blood.
                                </p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="experience-user">
                              <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                              <div class="timeline-content">
                                <p>
                                  Safi syrup is known for its best purifying
                                  syrup for blood.
                                </p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="experience-user">
                              <div class="before-circle"></div>
                            </div>
                            <div class="experience-content">
                              <div class="timeline-content">
                                <p>
                                  Safi syrup is known for its best purifying
                                  syrup for blood.
                                </p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="widget about-widget">
                      <h4 class="widget-title">Directions for use</h4>
                      <p>
                        Adults: Take 2 tablespoons once a day in a glass full of
                        water.
                      </p>
                    </div>
                    <div class="widget about-widget">
                      <h4 class="widget-title">Storage</h4>
                      <p>
                        Store this syrup at room temperature protected from
                        sunlight, heat, and moisture. Keep away from reaching
                        out of children and pets. Ensure that the unused
                        medicine is disposed of properly.
                      </p>
                    </div>
                    <div class="widget about-widget">
                      <h4 class="widget-title">Administration INstructions</h4>
                      <p>
                        Store this syrup at room temperature protected from
                        sunlight, heat, and moisture. Keep away from reaching
                        out of children and pets. Ensure that the unused
                        medicine is disposed of properly.
                      </p>
                    </div>
                    <div class="widget about-widget">
                      <h4 class="widget-title">Waring</h4>
                      <p>
                        This is not recommended for the pregnant women and
                        lactating mothers.
                      </p>
                    </div>
                    <div class="widget about-widget mb-3">
                      <h4 class="widget-title">Precaution</h4>
                      <p class="mb-0">
                        Syrup has to be disposed of properly after 3 years from
                        manufactured date and it is not recommended to use after
                        the date.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-xl-3 col-lg-3 sidebar">
        <div class="stickysidebar">
          <div class="card search-filter">
            <div class="card-body">
              <div class="clini-info mt-0">
                <h2>
                  $19
                  <b class="text-lg strike">$45</b>
                  <span class="text-lg text-success">
                    <b>10% off</b>
                  </span>
                </h2>
              </div>
              <span class="badge badge-primary">In stock</span>
              <div class="custom-increment pt-4">
                <div class="input-group1">
                  <span class="input-group-btn float-start">
                    <button
                      type="button"
                      class="quantity-left-minus btn btn-danger-1 btn-number"
                      data-type="minus"
                      data-field=""
                    >
                      <span><i class="fas fa-minus"></i></span>
                    </button>
                  </span>
                  <input type="text" class="input-number" value="1" />
                  <span class="input-group-btn float-end">
                    <button
                      type="button"
                      class="quantity-right-plus btn btn-success-1 btn-number"
                      data-type="plus"
                      data-field=""
                    >
                      <span><i class="fas fa-plus"></i></span>
                    </button>
                  </span>
                </div>
              </div>
              <div class="clini-details mt-4">
                <div class="clini-bookng">
                  <a class="apt-btn" href="">Add To Cart</a>
                </div>
              </div>
              <div class="card flex-fill mt-4 mb-0">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    SKU <span class="float-end">2023-02-0057</span>
                  </li>
                  <li class="list-group-item">
                    Pack Size <span class="float-end">100g</span>
                  </li>
                  <li class="list-group-item">
                    Unit Count <span class="float-end">200ml</span>
                  </li>
                  <li class="list-group-item">
                    Country <span class="float-end">Japan</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card search-filter">
            <div class="card-body">
              <div class="card flex-fill mt-0 mb-0">
                <ul class="list-group list-group-flush benifits-col">
                  <li class="list-group-item d-flex align-items-center">
                    <div>
                      <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div>
                      Free Shipping<br /><span class="text-sm"
                        >For orders from $50</span
                      >
                    </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <div>
                      <i class="far fa-question-circle"></i>
                    </div>
                    <div>
                      Support 24/7<br /><span class="text-sm"
                        >Call us anytime</span
                      >
                    </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <div>
                      <i class="fas fa-hands"></i>
                    </div>
                    <div>
                      100% Safety<br /><span class="text-sm"
                        >Only secure payments</span
                      >
                    </div>
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <div>
                      <i class="fas fa-tag"></i>
                    </div>
                    <div>
                      Hot Offers<br /><span class="text-sm"
                        >Discounts up to 90%</span
                      >
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="resize-sensor">
            <div class="resize-sensor-expand">
              <div
                style="
                  position: absolute;
                  left: 0px;
                  top: 0px;
                  transition: all 0s ease 0s;
                  width: 271px;
                  height: 849px;
                "
              ></div>
            </div>
            <div
              class="resize-sensor-shrink"
              style="
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                overflow: hidden;
                z-index: -1;
                visibility: hidden;
              "
            >
              <div
                style="
                  position: absolute;
                  left: 0;
                  top: 0;
                  transition: 0s;
                  width: 200%;
                  height: 200%;
                "
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
