.card {
  border: 1px solid #f0f0f0;
  margin-bottom: 1.875rem;
}
.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
  color: #757575;
}
.card-title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #272b41;
}
.title-add {
  margin-bottom: 15px;
  display: flex;
  justify-content: end;
  align-items: end;
  color: #20c0f3;
  font-size: 16px;
  cursor: pointer;
}
.doc-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
  width: 100%;
}
.editing-btn {
  margin-right: 12px;
  color: #20c0f3;
  font-size: 16px;
  cursor: pointer;
}
.doc-slot-list {
  background-color: #d9534f;
  border: 1px solid #d9534f;
  color: #ffffff;
  font-size: 14px;
  margin: 10px 10px 0 10px;
  padding: 6px 15px;
  border-radius: 4px;
}
.doc-slot-list a {
  color: #e48784;
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
}
