.card {
  border: 1px solid #f0f0f0;
  margin-bottom: 1.875rem;
}
.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
  color: #757575;
}
.submit-secton .submit-btn {
  font-weight: 700;
  font-size: 16px;
  min-width: 120px;
  padding: 12px 30px;
}
.btn-primary {
  background-color: #09e5ab;
  border: 1px solid #09e5ab;
}
.form-control {
  border-color: #dcdcdc;
  color: #333333;
  font-size: 15px;
  min-height: 46px;
  padding: 11px 15px;
}
