<div class="card">
  <div class="card-body">
    <form action="">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="mb-3">
            <label for="" class="mb-2">Facebook URL</label>
            <input type="text" class="form-control" name="" id="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="mb-3">
            <label for="" class="mb-2">Twitter URL</label>
            <input type="text" class="form-control" name="" id="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="mb-3">
            <label for="" class="mb-2">Instagram URL</label>
            <input type="text" class="form-control" name="" id="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="mb-3">
            <label for="" class="mb-2">Pinterest URL</label>
            <input type="text" class="form-control" name="" id="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="mb-3">
            <label for="" class="mb-2">Linkedin URL</label>
            <input type="text" class="form-control" name="" id="" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="mb-3">
            <label for="" class="mb-2">Youtube URL</label>
            <input type="text" class="form-control" name="" id="" />
          </div>
        </div>
      </div>
      <div class="submit-section">
        <button type="submit" class="btn btn-primary submit_btn">
          Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
